.corpo{
    min-height: 50px;
    min-width: 50px;
    align-items: center;
    justify-content: center;
    background-color:blue;
    background: linear-gradient(85deg,#0000ff, #222297);
}

.table{
    width: 1000px;
    text-align: center;
    background: white;
    border: 1px;
    border-radius: 8px;
    align-items: center;

}
.th,td{
    text-align: center;
    border-radius: 8px;
}
thead{
    background: black;
    color:white;
}
.enunciado_pagina{
    color:orange;
}
.btn.btn-link{
    color:white;
}
.formulario_pesquisa{
    margin:10px;
    
    
}