*{
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
    text-align: center;
    
}
.form-control{
    width: 800px;
    align-items:center;
    margin: 0 auto;
}
.form-group{
    font: 14px;
    width: 800px;
    
    margin:0 auto;
}
.cadastro{
    color:rgb(255, 255, 255);
}
.h1{
    color:orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: #000 1px 3px 2px;
}
.body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blue;
    background: linear-gradient(85deg,#0000ff, #222297);
}
.select_zonas{
    width: 150px;
    right: 110px;
    top: 78px;
    padding:5px 5px 5px 50px;
    position:absolute;
    text-align: center;
}
.zonas_titulo{
    font-weight: bold;
}
.container{
    background: white;
    min-width: 550px;
    max-width: 40vh;
    min-height: 100px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    
}

btn.btn-warning{
    height: 40px;
    width: 100px;
    text-align: center;
    background: rgb(255, 166, 0);
    
}

input.inserir-area{
    width: 280px;
    height: 25px;
}

#input_zonas{
    padding: 3px 12px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#input_zonas:focus,
#input_zonas:hover{
    outline: none;
    border: 1px solid #bbbbbb;
}


