@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
h1{
    font-family: 'League Gothic';
    font-size: 3em;
    color: black;
    text-align: center;
    top: 0;
}
.table{
    width: 1000px;
    margin: auto;
    text-align: center;
    background: white;
    align-items: center;
}
#voltar{
    margin-top: 10px;
    border-radius: 50%;
    margin-left: 6px;
    width: 50px;
    background-color: white;
}
#voltar:hover{
    background-color: orange;
}
.th,td{
    text-align: center;
    border-radius: 8px;
}
thead{
    background: black;
    color:white;
}
.enunciado_pagina{
    color:orange;
}
.formulario_pesquisa{
    margin:10px;
}
